h1 {
    text-align: center;
    padding: 5%;
}
h2 {
    padding: 2%;
    font-size: 10px;
    max-width: 300px;
}
body {
    background-color: darkgrey;
}
body {
    background: url('https://wallpapercave.com/wp/wp4615234.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
.row {
    color: black;
    background-color: lightslategrey;
}
  .page-holder {
    min-height: 100vh;
  }
  
  .bg-cover {
    background-size: cover !important;
  }
  .myChart {
      color: blue;
  }